__pycache__/
htmlcov/
.pytest_cache/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

venv/
# PyCharm stuff
.idea/

# VSCode stuff
.vscode

# Docker stuff
.devcontainer

# MacBook Finder
.DS_Store

#3.8/
#jumanji_env/
#**/outputs/
#*.xml


# IMPERIAL CHANGE REMOVE BEFORE MERGE
*.pkl
